* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background: rgb(32, 141, 99);
    padding-bottom: .5rem;
    color: rgb(245, 238, 238);
    z-index: 20;
}


body {
   display: flex;
   flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    width: 100%;
}

.rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instructions {
    padding: 1rem 0;
}

.instruction-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.left-and-right-sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#addressButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-address-form {
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 165px;
    right: 20px;
}

#map {
    height: 600px; 
    width: 50%;
    margin-left: 10px; 
   }

#add-button{
    background-color: antiquewhite;
}

#cancel-button{
    background-color: antiquewhite;
}

#create-address{
    background-color: antiquewhite;
    font: inherit;
    cursor: pointer;
    right: 10%;
    margin-top: 10px;
}
.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#address-paragraph {
    margin-left: 2rem;
}

#address-items-form, #edit-items-form {
    display: flex;
    flex-direction: column;
    border: 3px solid #73AD21;
    padding: 4px;
    width: 200px;
}

#add-items-button, #update-items {
    width: 100%; 
}

#delete-item {
    right: 0%;
}

#alpha-items{
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 18.75rem;
    height: 12.5rem;
    top: 40%;
    right: 20px;
    overflow: scroll;
    margin-top: 8px;
    margin-left: 30px;
}

#signupform { 
    position: absolute;
    right: 3%;
    top: 3%;
}

#loginform { 
    position: absolute;
    right: 3%;
    top: 3%;
}

#signup, #login, #logout {
    font: inherit; 
    border-radius: 4px;
    cursor: pointer;
}

#logout {
    display: none;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}

.footer {
    margin-top: 3rem;
}

@media (max-width: 800px){
    .left-and-right-sections {
        flex-direction: column;
    }
    #create-address {
        display: block;
        margin: auto;
    }
}
@media (max-width: 800px){
    .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media (max-width: 800px){
    #create-address-form{
         margin-top: 1rem;
    }
    .rules-container p {
    margin-left: 10px;
    }
    .rule-2 {
    margin-bottom: 5px;
    }
    .open {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.9);
    }
    #loginform { 
        position: absolute;
        top: 200px;
        z-index: 110;
    }
}