* {
    margin: 0px;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    background: rgb(32, 141, 99);
    padding-bottom: .5rem;
    color: rgb(245, 238, 238);
    z-index: 20;
}


body {
   display: flex;
   flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

/* .title {
    text-align: center;
    list-style-position: inside;
    background-color: rgb(51, 171, 192);
    padding-bottom: 5px;
} */

.rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.instructions {
    padding: 1rem 0;
}

.instruction-items {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.left-and-right-sections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    margin-left: 200px;
}

div#addressButton {
    /* float: right; */
    width: 75%;
    font: inherit;
    /* position: absolute; */
    /* margin: 5px; */
    margin-left: 30px;
}
#create-address-form {
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 165px;
    /* position: absolute; */
    /* top: 33%; */
    right: 20px;
}

#map {
    /* display: inline-block; */
    height: 600px; 
    width: 1000px; 
    margin-left: 10px; 
   }

#add-button{
    background-color: antiquewhite;
}

#cancel-button{
    background-color: antiquewhite;
}

#create-address{
    background-color: antiquewhite;
    font: inherit;
    cursor: pointer;
    /* position: fixed; */
    right: 10%;
    margin-top: 10px;
}

#items-form, #edit-items {
    border: 3px solid #73AD21;
    padding: 4px;
    width: 26%;
    position: absolute;
    top: 33%;
    right: 20px;
    height: 50%
}

#add-items-button, #update-items {
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    right:0%

}

#add-another-button, #delete-marker-and-items {
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    left: 0%
}

#cancel-items-button, #close-items-window{
    position: absolute;
    float: right;
    width: 28%; 
    bottom: 0%;
    left: 35%;
}

#delete-item {
    right: 0%;
}

#alpha-items{
    border: 3px solid #73AD21;
    display: none;
    padding: 4px;
    width: 18.75rem;
    height: 12.5rem;
    /* position: absolute; */
    top: 40%;
    right: 20px;
    overflow: scroll;
    margin-top: 8px;
    margin-left: 30px;
}

#signupform { 
    position: absolute;
    right: 3%;
    top: 3%;
}

#loginform { 
    position: absolute;
    right: 3%;
    top: 3%;
}

#rules p {
    position: absolute;
    float: left;
    width: 200px;
    top: 5%;
    margin-bottom: 5px;
}

#signup, #login, #logout {
    font: inherit; 
    border-radius: 4px;
    cursor: pointer;
}

#logout {
    display: none;
}

@media (max-width: 1100px){
    .header {display: block;
    }
}